@import "../../styles/variables";

.UiSelect {
  width: 120px;
  border: 2px solid;
  border-color: $black $buttonHighlight $buttonHighlight $black;

  .UiSelect__control--is-focused,
  .UiSelect__control--menu-is-open .UiSelect__control--is-focused:hover {
    border-color: transparent !important;
    box-shadow: none;
  }

  .UiSelect__placeholder,
  .UiSelect__single-value {
    color: $white;
  }

  .UiSelect__placeholder,
  .UiSelect__single-value {
    margin-top: 4px;
  }

  .UiSelect__indicator {
    background-color: $buttonBorder;
    border-top: 2px solid $buttonHighlight;
    border-left: 2px solid $buttonHighlight;
    border-right: 2px solid $black;
    border-bottom: 2px solid $black;
  }

  .UiSelect__indicator:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5' viewBox='0 0 10 5'%3E%3Cpath d='M0 0 L5 5 L10 0 Z' fill='%23ebdbb2'/%3E%3C/svg%3E");
    transform: translate(-5px, -9px);
  }

  .UiSelect__control {
    border: 0px;
    border-radius: 0;
    background: $buttonHover;
    box-shadow: none;
  }

  .UiSelect__indicator-separator {
    display: none;
  }

  .UiSelect__menu {
    margin-top: 6px;
    background: $buttonHover;
    border: 1px solid $buttonHighlight;
    border-radius: 0 !important;
  }

  .UiSelect__menu-list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0 !important;
    background-color: $buttonHover;
    .UiSelect__option {
      padding: 2px 3px 0px 3px;
    }
    .UiSelect__option--is-selected {
      padding: 2px 3px 0px 3px;
      background-color: $buttonHover;
      color: $white;
    }

    .UiSelect__option--is-focused,
    .UiSelect__option--is-focused:active {
      background-color: $orange;
      color: $black;
    }
  }
}
