@import "../../styles/variables";
@import "../../styles/mixins";

.UiHeader {
  @include default-font;
  @include outset-border;
  background-color: $greyDark;
  //  min-height: 20px;
  height: 25px;
  line-height: 1;
  padding: 0px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    span {
      display: block;
      margin-top: 4px;
    }
  }
}

/* Windows Chrome and Edge-specific adjustments */
.windows-chrome-edge .UiHeader {
  height: 25px;

  &__title span {
    color: red !important;
    margin-top: 0;
    transform: translateY(-2px);
  }
}
