    background-color: $buttonBorder;
    border-top: 2px solid $buttonHighlight;
    border-left: 2px solid $buttonHighlight;
    border-right: 2px solid $black;
    border-bottom: 2px solid $black;
  }

  .UiSelect__indicator:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5' viewBox='0 0 10 5'%3E%3Cpath d='M0 0 L5 5 L10 0 Z' fill='%23ebdbb2'/%3E%3C/svg%3E");
    transform: translate(-5px, -9px);
  }

  .UiSelect__control {
    border: 0px;
    border-radius: 0;
    background: $buttonHover;
    box-shadow: none;
  }

  .UiSelect__indicator-separator {
    display: none;
  }

  .UiSelect__menu {
    margin-top: 6px;
    background: $buttonHover;
    border: 1px solid $buttonHighlight;
    border-radius: 0 !important;
  }

  .UiSelect__menu-list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0 !important;
    background-color: $buttonHover;
    .UiSelect__option {
      padding: 2px 3px 0px 3px;
    }
    .UiSelect__option--is-selected {
      padding: 2px 3px 0px 3px;
      background-color: $buttonHover;
      color: $white;
    }

    .UiSelect__option--is-focused,
    .UiSelect__option--is-focused:active {
      background-color: $orange;
      color: $black;
    }
  }
}

@import "../../styles/variables";

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin outset-border {
  border-width: 2px;
  border-style: solid;
  border-color: $buttonHighlight $black $black $buttonHighlight;
}

@mixin inset-border {
  border-width: 2px;
  border-style: solid;
  border-color: $black $buttonHighlight $buttonHighlight $black;
}

.UiDataTable {
  padding: 0.25rem;
  background-color: $buttonHover;
  font-size: 14px;

  .UiDataTable__footer {
    @include flex-row;

    max-height: 18px;
    justify-content: space-between;
    padding: 0px 0.25rem;
    padding-bottom: 0;
    //    margin-top: 0.25rem;
    border-left: 2px solid $buttonBackground;
    border-right: 2px solid $buttonHighlight;
    border-top: 2px solid $buttonBackground;
    border-bottom: 2px solid $buttonHighlight;
    &--element {
      &__count {
        flex: 1;
      }
      &__count,
      &__paginator {
        margin-top: 5px;
      }
    }
  }

  .UiDataTable__table {
    &--headings {
      @include flex-row;
      justify-content: space-between;
      margin-bottom: 0.25rem;
      &__header {
        max-height: 18px;
        background-color: $buttonBackground;
        @include outset-border;
        flex: 1;
        padding: 0px;
        padding-left: 0.25rem;
        span {
          display: inline-block;
          padding-top: 2px;
        }
        // div {
        //   padding-top: 3px;
        //   padding-bottom: 0;
        // }
      }
    }

    &--rows {
      @include flex-row;
      justify-content: space-between;
      background-color: $buttonHover;
      &__row {
        flex: 1;
        padding-left: 0.35rem;
        span {
          display: inline-block;
          //padding-top: 1px;
        }
      }
    }
  }
}


