@import "../../styles/variables";
.ChartTooltip {
  padding: 2px 8px;
  display: flex;
  justify-content: flex-end;
  min-height: 20px;
  min-width: 100px;
  background-color: $grey;
  .tooltip-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 12px;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    div {
      font-size: 14px;
    }
  }
  &__visible {
    opacity: 0;
  }
}
