@import "../../styles/variables";
@import "../../styles/mixins";

.UiScorecard {
  @include default-font;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  //  padding: 0.3rem 0.3rem 0.1rem;
  margin-bottom: 0.25rem;
}
