@import "../../styles/variables";
.PictographTooltip {
  //background-color: $grey;
  display: flex;
  justify-content: flex-end;
  min-height: 20px;
  min-width: 100px;
  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    div {
      font-size: 12px;
    }
    &__visible {
      opacity: 0;
    }
  }

  .conditional {
    margin-top: 0.5rem;
  }
}
