@import "../../styles/variables";
@import "../../styles/mixins";

@mixin paginate-button {
  // appearance: none !important;
  // outline: none;
  height: 18px;
  width: 18px;
  background-color: $grey;
  border-top: 2px solid $greyLightest;
  border-left: 2px solid $greyLightest;
  border-right: 2px solid $black;
  border-bottom: 2px solid $black;
  // box-shadow: none;
}

.UiDataTableFooter {
  @include flex-row;
  @include outset-border-darker-inverted;
  background-color: $greyDark;
  max-height: 18px;
  justify-content: space-between;
  padding: 0px 0px 0px 0.25rem;
  padding-bottom: 0;
  gap: 15px;

  &__loading {
    color: $yellow;
  }

  &__pages {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    page {
      &--active {
        color: $red;
      }
    }
  }

  &__count {
    //flex: 1;
  }

  &__paginator {
    @include flex-row;
    button.previous svg {
      transform: rotate(90deg) translate(-1px, 7px);
    }

    div.next svg {
      transform: rotate(-90deg) translate(0px, 5px);
    }

    button.previous,
    div.next {
      @include paginate-button;
    }
  }

  &__count,
  &__pages,
  &__loading {
    margin-top: 3px;
  }
}
