.loading-line {
  margin-top: 2rem;
  height: 2px;
  background-color: lightgrey;
  animation: loadingAnimation 2s linear infinite;
}

@keyframes loadingAnimation {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
