.recharts-wrapper {
  font-family: $font_stack_sans;
  font-size: 0.875rem;
  //  font-weight: 500;
}

.recharts-pie .recharts-layer text {
  fill: $foreground;
}

.custom-tooltip {
  font-size: 0.875rem;
  background: white;
  padding: 0 1rem;
  border: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 1); /* Lighter background color with 80% opacity */
  //  backdrop-filter: blur(10px); /* Applies a blur effect with a radius of 10 pixels */
  border-radius: 3px;
}
