html,
body {
  height: 100%;
  margin: 0 auto;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // this makes sure the container takes at least the full viewport height
}

.main-content {
  flex: 1 0 auto; // this makes sure the main content expands as much as it can, pushing the footer down
}

.main {
  margin: 2rem;
  max-width: 992px;
}

.home-links {
  margin-top: 1rem;
  * {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 778px) {
  .main {
    margin: 1rem;
  }
}
