@mixin default-font {
  font-family: $fontFamilySans;
  color: $white;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin outset-border {
  border-width: 2px;
  border-style: solid;
  border-color: $greyLightest $grey $grey $greyLightest;
}

@mixin outset-border-inverted {
  border-width: 2px;
  border-style: solid;
  border-color: $grey $greyLightest $greyLightest $grey;
}

@mixin outset-border-darker {
  border-width: 2px;
  border-style: solid;
  border-color: $greyLighter $black $black $greyLighter;
}

@mixin outset-border-darker-inverted {
  border-width: 2px;
  border-style: solid;
  border-color: $black $greyLighter $greyLighter $black;
}
