$background-color: #3c3836;

table {
  width: 100%;
  margin-bottom: 1em;
}

tbody tr:nth-child(even) {
  background-color: $background-color;
}

thead th {
  background-color: #1d2021;
  color: #ebdbb2;
  // border: 1px solid #212529;
  text-align: left;
  padding: 5px;
}

/* Style table cells */
td {
  padding: 5px;
  //  border: 1px solid #ccc;
}

thead {
  // position: relative;
  height: 1rem;
}
