@import "../styles/mixins";

table {
  width: 100%;
  background-color: $greyLight;
  overflow-y: auto;
}

thead th {
  //  @include outset-border-darker;
  padding-left: 0.5rem;
  background-color: $greyDark;
  color: $white;
  text-align: left;
  font-weight: 500;
}

td {
  background-color: $grey;
  padding-left: 0.5rem;
}
