@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;600;700&display=swap");

body {
  font-family: "Times New Roman", "Times", serif;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.PageHeader h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.25rem;
}

h3,
h4,
h5 {
  font-size: 1rem;
}

blockquote {
  font-style: italic;
}

.post {
  &__date {
    font-style: italic;
  }
}

p code {
  font-size: 13px;
  color: black !important;
}

code {
  font-size: 12px;
  font-family: "Noto Sans Mono", monospace;
}

// p,
// ul,
// blockquote,
// a {
//   line-height: 1.5;
// }
