body {
  font-family: sans-serif;
}

h1,
.PageHeader h1 {
  font-size: 1.35rem;
}

h2 {
  font-size: 1.25rem;
}

h3,
h4,
h5 {
  font-size: 1rem;
}

blockquote {
  font-style: italic;
}

.post {
  &__date {
    font-style: italic;
  }
}

p code {
  color: black !important;
}
