@import "_variables.scss";

.ui-responsive-chart-wrapper {
  width: 100%;
  max-width: 748px;
}

.ui-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.ui-error {
  color: $red;
}

.ui-chart-instruction {
  text-align: center;
  font-size: 14px;
}

.ui-visx-axis-line {
  stroke: $greyLight;
  stroke-width: 1px;
}

.ui-visx-axis-tick text {
  font-family: $fontFamilySans;
  font-style: italic;
}

@media (max-width: 599px) {
  .ui-visx-axis-tick,
  .ui-visx-bar-label {
    display: none;
  }
}
