$fontFamilySans: "Sys", sans-serif;
$fontFamilyMono: "Input Sans", monospaced;

$green: #a9b665;
$orange: #e78a4e;
$aqua: #8dc07c;
$white: #ebdbb2;
$buttonHover: #665c54;
$buttonHighlight: #a89984;
$buttonBorder: #504945;
$buttonBackground: #3c3836;
$anotherDark: #32302f;
$blue: #7daea3;
$red: #ea6962;
$black: #282828;
