.CodeMetricsControls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  @media (max-width: 768px) {
    justify-content: center;
  }
}
