@import "../../styles/variables";
@import "../../styles/mixins";

.UiButton {
  @include outset-border;
  font-family: $fontFamilySans !important;
  color: $white;
  font-size: 14px;
  font-family: "Sys TT";
  max-width: 100px;
  text-align: center;
  padding: 2px 4px 1px;
  background-color: $greyDark;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  margin: 0.25rem 0;
}

.UiButton:active {
  @include outset-border-inverted;
  background-color: $greyDarkest;
  padding-top: 4px;
  padding-bottom: 2px;
}
