@import "../../styles/variables";
@import "../../styles/mixins";

.UiButton {
  @include outset-border;
  font-family: $fontFamilySans !important;
  color: $white;
  font-size: 1rem;
  font-family: "Sys TT";
  max-width: 100px;
  text-align: center;
  padding: 4px 6px 2px;
  background-color: $greyDark;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  margin: 0.25rem 0 0.75rem;
}

.UiButton:active {
  @include outset-border-inverted;
  background-color: $greyDarkest;
  padding-top: 4px;
  padding-bottom: 2px;
}
