@import "../../styles/variables";

.Header {
  border: 2px solid $foreground;
  padding: 0.5rem 0.5rem;
  padding-left: 0;

  text-align: center;
  &__site-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: $foreground;
  }
}

@media only screen and (max-width: 778px) {
  .Header {
  }
}
