@import "../../styles/variables";

.Header {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    color: black;
  }

  span {
    font-size: 14px;
  }
  h1 {
    font-style: normal;
    // font-size: 20px;
    padding: 0;
    padding-bottom: 0.25rem;
    margin: 0;
  }
}
