@import "../../styles/variables";
@import "../../styles/mixins";

.UiDataTable {
  @include default-font;
  padding: 0.25rem;
  background-color: $greyLight;
  font-size: 14px;
  .UiDataTable__table {
    display: grid;
    grid-template-columns: 130px 60px 100px 70px 1fr;
    grid-auto-rows: min-content;
    row-gap: 0;
    overflow-y: auto;
    &--headings {
      display: contents;
      &__header {
        max-height: 18px;
        background-color: $greyDark;
        @include outset-border-darker;
        padding: 0px;
        padding-left: 0.25rem;

        span {
          display: inline-block;
          padding-top: 2px;
        }
      }
    }

    &--rows {
      display: contents;
      &.first-row > div {
        padding-top: 2px;
      }

      &__row {
        padding: 0 0.35rem 0;
        margin: 0;
        &:nth-child(odd) {
          background-color: $grey;
        }

        span {
          padding: 0;
        }

        &.description {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
