@import "../../styles/variables";

.CodeMetrics {
  &__header {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 1.7rem;
    margin: 1rem 0 0 0;
  }

  &__block {
    margin: 1rem 0;
    padding: 0.25rem;
  }

  .chart-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .error-wrapper {
    font-family: $font_stack_sans;
    color: rgb(235, 65, 65);
    font-weight: 500;
    font-size: 0.825rem;
    border: 1px solid rgb(235, 65, 65);
    border-radius: 3px;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: rgb(255, 210, 210);
  }
}
