@import "../../styles/variables";

.CodeMetrics {
  font-family: $font_stack_sans;
  &__header {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 1.7rem;
    margin: 1rem 0 0 0;
  }

  &__block {
    margin: 1rem 0;
  }

  .chart-wrapper {
    position: relative;
    display: flexcenter;
    align-items: center;
  }

  .ToastContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
  }
}
