@import "../../styles/variables";
@import "../../styles/mixins";

.PostLink {
  @include default-font;
  gap: 0;
  margin-bottom: 1rem;

  &__date {
    font-size: 14px;
    margin-bottom: 0.25rem;
  }
}
