@import "../../styles/variables";
@import "../../styles/mixins";

.PostLink {
  @include default-font;
  gap: 0;
  margin-bottom: 0.75rem;

  &__date {
    font-size: 14px;
    font-style: italic;
  }
}
