.MetricHighlights {
  &__controls-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .card-body {
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    min-height: 55px;
  }
}
